.formal {
  .personal_head {
    display: none;
    margin-bottom: 10px;
    color: #fff;

    span {
      color: #607B96;
    }

    @media screen and (max-width: 650px) {
      display: block;
    }
  }
  
  .diploma {
    margin: 20px 0;

    p {
      padding: 5px 0;

      strong {
        font-size: 1.6rem;
        letter-spacing: 1px;
      }

      &.honors {
        font-weight: 600;
        font-size: 1.1rem;
      }
    }

    @media screen and (max-width: 650px) {
      margin-top: 0;
    }
  }

  .college {
    margin: 30px 0;

    p {
      padding: 5px 0;

      strong {
        font-size: 1.6rem;
        letter-spacing: 1px;
      }

      &.honors {
        font-weight: 600;
        font-size: 1.1rem;
      }
    }

    @media screen and (max-width: 650px) {
      margin-top: 0;
    }
  }
}