.main_about {
  display: grid;
  grid-template-columns: 45px 205px 1fr;
  // position: relative;
  height: 100%;
  overflow: hidden;

  .drop_down-link {
    padding: 20px;

    .sub_menu {
      display: flex;
    }

    @media screen and (max-width: 650px) {
      padding: 0;
    }
  } 

  .content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 1px;
    }

    .top {
      border-bottom: 1px solid #1E2D3D;
      position: sticky;
      top: 0;
      
      .top_content {
        display: inline-flex;
        align-items: center;
        height: 100%;
        border-right: 1px solid #1E2D3D;
        padding: 8px 15px;
      }
      
      svg {
        width: 25px;
        height: 25px;
        margin-left: 20px;
      }

      @media screen and (max-width: 650px) {
        display: none;
      } 
    }

    .bottom {
      display: flex;
      overflow: hidden;
      margin: 0 20px;
      border-right: 1px solid #1E2D3D;
      gap: 20px;

      .left_content {
        flex: 1;
        border-right: 1px solid #1E2D3D;
        position: relative;
        padding: 15px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 1px;
        }

        @media screen and (max-width: 965px) {
          border: none;
        }  

        @media screen and (max-width: 650px) {
          font-size: 16px;

          &::-webkit-scrollbar {
            width: 1px;
          }
        }
      }

      .right_content {
        flex: 1;
        overflow-y: scroll;
        border-left: 1px solid #1E2D3D;
        padding: 20px;

        &::-webkit-scrollbar {
          width: 1px;
        }

        @media screen and (max-width: 965px) {
         display: none;
        }        
      }

      @media screen and (max-width: 1110px) {
        margin: 0;
        border: none;
        font-size: 14px;
      }

      @media screen and (max-width: 965px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 650px) {
      overflow: unset;
    }
  }

  @media screen and (max-width: 1110px) {
    grid-template-columns: 200px 1fr;
  }

  @media screen and (max-width: 650px) {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      width: 1px;
    }
  } 
}