.main_about {
  display: grid;
  grid-template-columns: 45px 205px 1fr;
  position: relative;
  overflow: hidden;
  height: 100%;

  .drop_down-link {
    padding: 20px;

    .sub_menu {
      display: flex;
    }

    @media screen and (max-width: 650px) {
      padding: 0;
    }
  }
  
  .content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 1px;
    }

    .top {
      border-bottom: 1px solid #1E2D3D;
      position: sticky;
      top: 0;
      
      .top_content {
        display: inline-flex;
        align-items: center;
        height: 100%;
        border-right: 1px solid #1E2D3D;
        padding: 8px 15px;
      }
      
      svg {
        width: 25px;
        height: 25px;
        margin-left: 20px;
      }

      @media screen and (max-width: 650px) {
        display: none;
      } 
    }
  }

  @media screen and (max-width: 1110px) {
    grid-template-columns: 200px 1fr;
  }

  @media screen and (max-width: 650px) {
    display: flex;
    flex-direction: column;
  } 
}