.icons {
  border-right: 1px solid #1E2D3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  position: sticky;
  
  svg {
    width: 25px;
    height: 25px;
    margin-bottom: 25px;
  }

  @media screen and (max-width: 1110px) {
    display: none;
  }
}