@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #010C15;
  font-family: 'Fira Code', monospace;
  color: #607B96;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body {
  background-color: #011627;
  border: 1px solid #1E2D3D;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 55px 1fr 50px;
  width: 98vw;
  height: 95vh;
  position: relative;
}

main {
  overflow: hidden;

  @media screen and (max-width: 650px) {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 1px;
    }
  }
}

@media screen and (max-width: 750px) {
  body {
    width: 95vw;
  }
}