footer {
  border-top: 1px solid #1E2D3D;
  display: flex;
  align-items: center;

  .logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-right: 1px solid #1E2D3D;

    @media screen and (max-width: 450px) {
      flex: 1;
    }
  }

  a {
    padding: 0 10px;
    color: #607B96;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #1E2D3D;
    opacity: .8;

    svg {
      width: 22px;
      height: 22px;
    }

    &:hover {
      opacity: 1;
    }

    &.last {
      @media screen and (max-width: 450px) {
        border-right: none;
      }
    }

  }
  
  .left {
  padding: 0 20px;
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid #1E2D3D;

    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    padding: 0 20px;
  }
}